html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI',SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.logo{
    width: 100px;
}

.container{
    padding: 18px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left{
    display: flex;
}

.nav-left img{
    margin-right: 25px;
    cursor: pointer;
}

ul{
    display: flex;
}

 ul li{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    font-size: 13px;
    color: #262626;
    margin-right: 20px;
}



.hero img{
    width: 100%;
}

.hero{
    position: relative;
    
}

.hero .hero-content{
    position: absolute;
    top:0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 126px;
}

.hero-content h1{
    font-size: 2.3125rem;
    font-weight: 600;
    margin-bottom: 1.25rem;
}

.hero-content p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 24px;
    color: #000;
}

.hero-content button{
    border: none;
    color: #fff;
    padding: .625rem .75rem;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 5px 3px;
    background-color: #0067b8;
    margin-right: 25px;
    cursor: pointer;
}

.hero-content a{
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 1rem;
}

.slider-icons{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.slider-icons i{
    font-size: 10px;
    margin: 10px 18px;
}

.slider-icons .side{
    font-size: 20px;
}

.icon-box{
    display: flex;
    justify-content: space-evenly;
    margin: 80px 0;
    padding: 0 250px;
    border: 1px solid transparent;
}

.icon-box .box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box i{
    font-size: 40px;
    margin-bottom: 15px;
}

.box a{
    font-size: 1rem;
    font-weight: 600;
    color: #0067b8;
}

.product-list{
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.product-box{
    width: 330px;
    position: relative;
}

.new-badge{
    width: 50px;
    height: 25px;
    text-align: center;
    position: absolute;
    top: 197px;
    background-color: #ffb900;
}

 .new-badge h5{
    font-size: 1rem;
    font-weight: 600;
    
}


.product-img img{
    width: 100%;
    object-fit: cover;
}

.product-content h2{
    font-size: 1.8rem;
    font-weight: 600;
    margin: 35px 0 15px;
}

.product-content h6{
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 15px;
}

.product-content p{
    color: #0067b8;
    font-weight: 600;
    font-size: 1rem;
}



.hero-2-img{
    margin: 20px auto;
    width: 90vw;
}

.hero-2-img img{
    width: 100%;
}

.hero-2{
    position: relative;
    margin: 50px 0;
    border: 1px solid transparent;
}

.hero-2-content{
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    left: 200px;
}

.hero-2-content h2{
    font-size: 2.3rem;
    font-weight: 600;
}

.hero-2-content p{
    margin: 20px 0;
    font-size: 1rem;
}

.hero-2-content button{
    border: none;
    background-color: #0067b8;
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
    padding: .625rem .75rem;
}


.business-heading{
    font-size: 2.3rem;
    margin-bottom: 1.25rem;
    font-weight: 600;
    margin-left: 60px;
}


.social-handles{
    display: flex;
    margin-left: 60px;
    margin-bottom: 25px;
    align-items: center;
}

.social-handles p{
    margin-right: 25px;
    font-size: 1rem;
    font-weight: 400;
}

.social-handles i{
    margin-right: 25px;
    font-size: 25px;
    cursor: pointer;
    
}


.back-to-top-container{
    display: flex;
    justify-content: flex-end;
    margin-right: 25px;
    margin-bottom: 50px;
}

.back-to-top-btn{
    background-color: #d9d9d9;
    padding: 10px 20px;
}

.back-to-top-btn a{
    display: flex;
    text-decoration: none;
    align-items: center;
}

.back-to-top-btn a i{
    margin-right: 10px;
    color: #02040e;
}

.back-to-top-btn p{
    font-size: 1rem;
    text-decoration: none;
    font-weight: 600;
    color: #02040e;
}






.footer-container{
    background-color: #f2f2f2;
    padding: 40px 0;
    display: flex;
    justify-content: space-evenly;
}

.list p{
    color: #616161;
    font-size: 15px;
    font-weight: 600;
}

.list ul li a{
    text-decoration: none;
    color: #616161;
    font-size: 11px;
}

.list ul li{
    margin: 7px 0;
}

.list ul{
    display: flex;
    flex-direction: column;
}

.footer-content{
    display: flex;
    background-color: #f2f2f2;
    align-items: center;
    justify-content: space-between;
    padding: 30px 110px;
}

.language i{
    margin-right: 15px;
}

.footer-links ul li{
    margin: 0 10px;
}

.footer-links .globe{
    font-size: 20px;
}

.footer-links ul li a,p{
    text-decoration: none;
    color: #616161;
    font-size: 11px;
}

